{% extends "core/base.html" %}

{% block title %}
    problem
{% endblock title %}

{% block content %}

<div class="login">
    <form class="form" method="post">
        {% csrf_token %}
        <div class="flex-column">
            <label>category</label>
        </div>
        <div class="inputForm">
            <svg height="35" viewBox="0 0 32 32" width="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="Layer_3" data-name="Layer 3"><path d="M12,12.5c-3.04,0-5.5,1.73-5.5,3.5s2.46,3.5,5.5,3.5,5.5-1.73,5.5-3.5-2.46-3.5-5.5-3.5Zm0-.5c1.66,0,3-1.34,3-3s-1.34-3-3-3-3,1.34-3,3,1.34,3,3,3Z"></path></g></svg>
            {{ form.category }}
        </div>
        <div class="flex-column">
            <label>problem </label>
        </div>
        <div class="">
            {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 4H3a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1zm-1 14H4V9.227l7.335 6.521a1.003 1.003 0 0 0 1.33-.001L20 9.227V18zm0-11.448l-8 7.11-8-7.111V6h16v.552z"/></svg> {% endcomment %}
            {{ form.problem }}
        </div>
        <input type="submit" class="button-submit" value="send">
        
        {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
    
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    </form>

</div>
{% endblock content %}