{% extends "core/base.html" %}

{% block title %}
    DernSupport
{% endblock title %}
    
{% block content %}
    <div class="welcome">
        <h1>
            Welcome to Dern<span class="basic-color">Support</span>
        </h1>
        <p>
            small IT technical support company that repairs computer <br> systems for businesses and individual customers
        </p>
        <div>
            <a href="/book" class=" btn-btn-btn">Book now</a>
            <a href="" class=" basic-color btn-btn">client</a>
        </div>
    </div>
{% endblock content %}
    